<a href="#comment"></a> <!-- 댓글 제출 후, 스크롤이 여기로 오도록 -->

<form class="container">
    <input type="hidden" id="comment-author" value="{{익명}}">

    <div class="form-group">
        <label>댓글</label>
        <textarea class="form-control" id="comment-content" rows="3" placeholder="입력하시오"></textarea>
    </div>

    <button type="button" class="btn btn-primary" id="comment-create-btn">제출</button>
</form>